*.key
*.png
__pycache__/*
*.log
*.pkl
*.zip
*.pdf
*.svg
tmp/*
remote-profile/*
res/crawl.json
res/crawl*
addata.json
setup_files/trust.json
res/img/ignoreme/*
util/zbrowse/remote-profile/*
util/zbrowse/tmp/*
util/zbrowse/node_modules/*
.DS_Store/*
*.DS_Store/*
trace/*
